*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    font-family: 'Arial';
    font-size: 14px;
}
div.wrap {
    min-height: 80vh;
}
header nav.top-mnu {
    font-size: 16px;
    border-bottom: 2px dashed #bebebe;
}
header nav.top-mnu div.im-a-txt {
    display: inline-block;
    padding: 10px;
}
header nav.top-mnu ul {
    margin: 0;
    padding:0;
    list-style-type: none;
    text-align: center;
    padding-top: 20px;
}
header nav.top-mnu li {
    display:  inline-block;
    margin-right: 20px;
}
header nav.top-mnu li a {
    text-transform: uppercase;
    margin-right: 10px;
}

footer {
    border-top: 2px dashed #bebebe;
    padding: 20px;
}