* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,body {
	height: 100%;
	/*background-color: #f3eaea;*/
	font-size: 20px;
	font-family: "Montserrat", Arial, Tahoma, sans-serif;
	background: #f5eeee;
}

div.wrapper {
	position: relative;
	min-height: 100%;
	margin: 0 auto;
}

/* No-Clean*/
.pull-right {
	float: right;
}
.tc {
	text-align: center;
}
a, a:visited {
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: all 1s ease;
}
a:hover {
	color: #fbc850;
	border-bottom: 1px solid #fbc850;
}
a.disabled {
	color: #555555;
}
/* Цвета */
.color-grey {
	color: #3D3D3D !important;
}
.color-orange {
	color: darkorange !important;
}
.color-yellow {
	color: #fac853 !important;
}
.bg-rainbow {
	background: #C94A4A; /* Для браузеров, которые не поддерживают градиенты */
	background: -webkit-linear-gradient(left, #C94A4A, #F78154, #F2C14E, #5FAD56, #4D9078); /* Для Safari 5.1 - 6.0 */
	background: -o-linear-gradient(left, #C94A4A, #F78154, #F2C14E, #5FAD56, #4D9078); /* Для Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(left, #C94A4A, #F78154, #F2C14E, #5FAD56, #4D9078); /* Для Firefox 3.6 - 15 */
	background: linear-gradient(left, #C94A4A, #F78154, #F2C14E, #5FAD56, #4D9078); /* Стандартный синтаксис */
}
.bg-black-net {
	background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
	-webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
	-webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
	-webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
	-webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
	-webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
	-moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
	-moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
	-moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
	-moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
	-moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-size: 20px 20px;
	background-color: #131313;
	color: white;
}
/* Тень */
.ts {
	text-shadow: 1px 1px 1px black;
}
/* Header */
header {
	height: 10vh;
	min-height: 65px;
	border-bottom: 2px solid #f3eded;
	background: #fff;
}
header .logotype {
	margin: auto 20px;
	width: auto;
	max-width: 100px;
	flex-grow: 1;
}
header .user-bar {
	margin-right: 20px;
}
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
header .flex-container {
	height: 100%;
	justify-content: space-between;
}
header .logotype {
	padding: .5em;
}
header .user-bar {
	display: flex;
	align-items: center;
	padding: 10px;
}
header .top-menu {
	flex-grow: 9;
}

header .top-menu a {
	font-size: 1em;
	font-family: 'IBM Plex Mono';
	text-transform: uppercase;
}
header .menu-element {
	padding: 10px;
	text-align: center;
	transition: all 1s ease;
	border-bottom: 2px solid transparent;
}
header .menu-element a:hover {
	border: 0;
}
header .menu-element:hover {
	border-bottom: 2px solid #fbc850;
}

header .userPhoto {
	height: 50px;
	width: 50px;
	border-radius: 30px;
	border: 2px solid #c1c1c1;
	margin-right: 5px;
	padding: .3em;
	text-align: center;
	background-size: 100%;
	background-repeat: no-repeat;
}
header .userPhoto img{
	max-height: 100%;
	width: auto;
}

/*
FOOTER
*/
footer, div.endOfContents
{
	height: 15vh;
	min-height: 120px;
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
footer {
	padding: 1em 2em;
	font-size: .9em;
	color: #313030;
	background: #fbc850;
	border-top: 2px solid #c5c0c0;
}
footer [class^="icon-"],footer [class*=" icon-"]
{
	color: #313030;
}
footer p {
	padding: 3px 0px;
}
footer .social {
	text-align: center;
	font-size: 2em;
	margin-bottom: 0.2em;
}

/* Выравнивание */
.tc {
	text-align: center;
}

/* Бейдж */
.badge {
	background: #bebebe;
	padding: 2px 20px;
	border-radius: 20px;
	vertical-align: super;
}
h1 .badge {

}
/* INTRO */
section.intro-container {
	height: 80vh;
}
.intro {
	display: table;
	height: 100%;
	width: 100%;
	margin: auto;
	/*background-color: #d8f7fb;*/
	/*background-image: url('/themes/ds/res/img/bg_code3.png');*/
	background-repeat: no-repeat;
	background-position: right center;

	/*
	background: rgb(0,254,255);
	background: linear-gradient(90deg, rgba(0,254,255,1) 0%, rgba(71,125,189,0.6727065826330532) 50%, rgba(0,0,0,0.35057773109243695) 100%);
	*/
}
.intro .horizontal {
	display: table-row;
}
.intro .vertical {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.intro .intro-label {
	max-width: 90%;
	margin: auto;
	background: rgba(255, 255, 255, 0.52);
	padding: 1em;
}
.intro .vertical div.intro-text {
	display: block;
	width: 80%;
	margin: auto;
	text-align: left;
	font-size: 2.5em;
	color: #000;
	text-shadow: 2px 1px 5px #393c3d;

}
.intro .vertical div.intro-text .text-one {
	display: inline-block;
	width: 15%;
	text-align: right;
}
.intro .vertical div.intro-text .text-two {
	display: inline-block;
	width: 85%;
	text-align: left;
	float: right;
}

.intro .vertical div.intro-text.small {
	margin-top: 20px;
	font-size: 23px;
}
.intro .vertical .intro-text-change {
	display: none;
	white-space: nowrap;
	overflow: hidden;
}
.intro .vertical .intro-text-change.active {
	display: inline;
}
.intro .vertical span.intro-bold {
	display: inline;
	color: #fbc850;
}


/* SECTIONS */
section.i-block {
	padding: 2em;
}
section.i-block h1 {
	text-align: center;
	margin: auto;
	margin-bottom: 1em;
}
section.services {
	border-bottom: 1px dashed #bebebe85;
}
section.services .flex-container {
	align-items: stretch;
}
section.services .item {
	background-color: #fff;
	box-shadow: 2px 3px 2px #ddd;
	text-align: center;
	border-radius: .5em;
	margin: 1em;
	padding: 1em;
	color: #7d7d7d;
	max-width: 33%;
}
section.services .item p {
	font-size: .9em;
	margin-bottom: .4em;
	text-align: left;
}
section.services .item p.buttons {
	color: rgba(252, 99, 28, 1)
}
section.services .item img, section.services .item h2{
	display: block;
	margin: auto;
	margin-bottom: .7em;
}

section.property {
	background: #d8fbd9;
}
section.property .block {
	width: 80%;
}
section.property ul, section.property li {
	list-style-type: none;
}
section.property li:before {
	font-family: 'icomoon';
	content: "\ea11";
	padding: 1em;
	color: #fbc850;
}

section.property li {
	margin-bottom: .8em;
	margin-left: 10px;
}

section.feedback .help {
	width: 50%;
	margin: auto;
}

section.feedback .form {
	width: 50%;
	margin: auto;
}
section.feedback .help {
	margin-bottom: 1em;
}
section.feedback .input, section.feedback .submit, section.feedback .checkbox {
	margin-bottom: 1em;
	text-align: left;
}
section.feedback .input textarea {
	width: 100%;
}
section.feedback .flex-container {
	justify-content: space-between;
}
section.feedback .input-container {
	width: 48%;
	display: inline-block;
}

/* ------------- Страница ------------------- */
.p10 {
	padding: 10px;
}

.page {
	background: #fff;
	-webkit-box-shadow: 2px 2px 5px -1px rgba(15,53,76,0.57);
	-moz-box-shadow: 2px 2px 5px -1px rgba(15,53,76,0.57);
	box-shadow: 2px 2px 5px -1px rgba(15,53,76,0.57);
}
.page.window {
	width: 40%;
	margin: 2em auto;
}
.page, div.breadcrumbs {
	margin: 1em 2em;
}
.page-header, .page-body {
	padding: 1em 2em;
}
.page-header {
	padding-bottom: 0px;
}
.page-body {
	padding-top: 0px;
	background: #ffffff;
	font-size: .8em;
}
.page-body p {
	padding-bottom: .4em;
}
.page h1 {
	text-align: left;
	margin-bottom: .5em;
	width: 100%;
	font-size: 1.5em;
	color: #a09f9f;
}
.page-body ul, .page-body li {
	margin-left: 1em;
}
.page-body li {
	margin-bottom: .4em;
}
.page .table-block
{
	display: table;
	width: 100%;
	-webkit-box-shadow: 1px 1px 4px 0px rgba(153,153,153,0.5);
	-moz-box-shadow: 1px 1px 4px 0px rgba(153,153,153,0.5);
	box-shadow: 1px 1px 4px 0px rgba(153,153,153,0.5);
	padding: 0.9em;
	margin-bottom: 1em;
}
.page .table-block:hover {
	background: rgba(193, 193, 193, 0.07);
}
.page .row-item a.name {
	color: #0f354c;
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: .3em;
	display: block;
}
.page .row-item a.name:hover {
	color: #feb262;
}
.page .row-item {
	display: table-row;
	width: 100%;
}
.page .row-item p:first-child {
	margin-bottom: .5em;
}
.page .row-item p:nth-child(2) {
	font-size: 1em;
}
.page .row-item .image {
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	text-align: center;

}
.page .row-item .text {
	display: inline-block;
	width: 100%;
	font-size: 1em;
}
.page .row-item .text{
	padding: .5em;
}
.page .row-item .image img {
	max-height: 8em;
	width: auto;
}
.page h2 {
	text-align: left;
	margin: 20px;
}
/* РАБОТЫ */
.works-list {
	display: flex;
	align-content: space-between;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	align-items: stretch;
	width: 100%;
}
.cell-preview {
	display: inline-block;
	width: 31%;
	padding: .2em;
	border: 1px solid #bebebe;
	position: relative;
	margin: .5em;
}
.cell-preview .image, .cell-preview .alternative-text {
	height: 300px;
}
.cell-preview .alternative-text {
	display: none;
	background-color: #151617db;
	color: aliceblue;
	/* line-height: 300px; */
	text-align: center;
	padding: 1em;
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
}
.cell-preview .alternative-text p {
	margin-top: 1.9em;
}
.cell-preview .alternative-text a {
	background: #fbc850;
	padding: .5em .9em;
	border-radius: .9em;
	color: black;
	-webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
	text-transform: none;
}
.cell-preview .alternative-text a:hover {
	background: white;
}

.cell-preview .image img{
	display: block;
	width: 100%;
	height: auto;
	max-height: 100%;
}
.cell-preview:hover .alternative-text {
	display: block;
}

.works h1 {
	text-align: center;
}
.preview {
	text-align: center;
}
.preview img {
	height: auto;
	max-width: 100%;
}
.works span.label {
	font-weight: 700;
	color: #0f354c;
}
.works .rating {
	color: #0f354c;
}
.works .customer, .works .info {
	margin-top: 20px;
}
.works .customer p {
	padding: 3px;
}
.works a.customer {
	color: #0f354c;
}

.works .shared {
	margin-top: 20px;
	width: 100%;
	text-align: left;
	font-size: 20px;
}
.works .shared span, .works .shared a {
	color: #6b6969;
	margin-bottom: 5px;
}

.works .shared a:hover {
	color: #0f354c;
}

/* Авторизация */
.login {
	text-align: left;
	padding: 2em;
	margin: auto;
	margin-top: 2em;
	max-width: 80%;
	min-widht: 50%;
	background: white;
	box-shadow: 1px 1px 2px #787878;
}
/* ------------- Поля ввода ------------------- */
.field {
	margin-bottom: 15px;
}
.error {
	color: red;
}
.help-box {
	font-size: 14px;
	padding-left: 15px;
}
input.error {
	border: 1px solid red !important;
}
label, input[type=text], input[type=password], button {
	display: block;
	margin-bottom: 0px;
	font-size: 18px;
}
input[type=text], input[type=password], button {
	height: 40px;
	width: 100%;
	margin-bottom: 0px;
	padding: 5px 15px;
}

button, input[type="submit"] {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: .5em 2em;
	outline: none;
	border-width: 2px 0;
	border-style: solid none;
	border-color: #FDBE33 #000 #D77206;
	border-radius: 6px;
	background: linear-gradient(#F3AE0F, #E38916) #E38916;
	transition: 0.2s;
	font-size: inherit;
}
button:hover, input[type="submit"]:hover, button:active, input[type="submit"]:active {
	background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

button:disabled, input[type="submit"]:disabled {
	background: #e1e6ea !important;
	color: #3D3D3D !important;
	cursor: no-drop !important;
	border: 0;
}

pre {
	border: 1px solid #bebebe;
	padding: .2em;
	font-size: .9em;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Оповещения */
.notify {
	width: 100%;
	text-align: center;
	padding: 20px;
	font-weight:bold;
}
.notify .success {
	background: chartreuse;
}
.notify .error, .notify .danger {
	background: orangered;
	color: #fff;
}
.notify > div{
	margin: 5px 15px;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	font-weight: 500;
	text-align: center;
}
.notify > div.error {
	background: #ff00001c;
}
.notify > div.success {
	background: #32a71d26;
}

/* хлебные крошки */
.breadcrumbs {
	padding-left: 1em;
	font-family: 'IBM Plex Mono';
	font-size: 0.8em;
}
#breadcrumb {
	list-style: none;
	display: inline-block;
	padding-left: 0px;
}
#breadcrumb .icon {
	font-size: 14px;
}
#breadcrumb li {
	float: left;
}
#breadcrumb > li + li:before {
	color: #cccccc;
	content: "/";
	padding: 0 5px;
}
/* Вкладки (Табы) */
.tabs {
	width: 100%;
	padding: 0px;
	margin: 0 auto;
}
.tabs>section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}
.tabs>input {
	display: none;
}
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 1px solid #ddd;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}
.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
.tabs>input:checked + label {
	color: #555;
	border: 1px solid #ddd;
	border-top: 1px solid #0f354c;
	border-bottom: 1px solid #fff;
	background: #fff;
}
#tab_1:checked ~ #content_1,
#tab_2:checked ~ #content_2,
#tab_3:checked ~ #content_3,
#tab_4:checked ~ #content_4{
	display: block;
}
@media screen and (max-width: 680px) {
	.tabs>label span.text{
		font-size: 0;
	}
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}